<table class='table'>
  <%= form_with model:user,local:true do |f| %>
  <tr><%= attachment_image_tag(user, :profile_image,size: "100x100", fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>follows</th>
	  <th><%= link_to user.followings.count,user_followings_path(user) %></th>
  </tr>
  <tr>
	  <th>followers</th>
	  <th><%= link_to user.followers.count,user_followers_path(user) %></th>
  </tr>
  <%#= link_to"フォローする", class:"btn btn-success" %>
  </div>
</table>
  <%= render 'layouts/edit',user: user %>
  <% end %>
  <!--form_with で定義する-->