<table class='table table-hover table-inverse'>
  <thead>
     <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
     </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
    <!--doからendまでが繰り返しの処理になる-->
      <tr>
        <td><%= link_to user_path(book.user) do %>
        <!--誰が投稿したのユーザーのID-->
          <%= attachment_image_tag(book.user, :profile_image, size: "50x50", fallback: "no-image-icon.jpg") %>
          <% end %>
        </td>
        <td><%= link_to book.title, book_path(book), class: "book_#{book.id}" %></td>
        <td><%= book.body %></td>
        <td><%= render 'layouts/favorite',book: book %></td>
        <!--組み込めないので部分テンプレートにさらにテンプレートする-->
        <td><%= "コメント数：#{book.book_comments.count}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>